<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/SpringMVCProject-2/src/main/resources/static/css/style.css">
<title>edit user</title>
</head>
<body>
<div align="left">
	<a href="profile">back</a>
</div>
<div align="center">
	<h1>Edit User</h1>
	<form action="#" th:action="@{/save}" th:object="${edit_user}" method="post">
		<table>
				<tr>
					<td>User Id</td>
					<td><input type="text" th:field="*{id}" readonly="readonly"/></td>
				</tr>
				<tr>
					<td>username</td>
					<td><input type="text" th:field="*{username}"/></td>
				</tr>
				<tr>
					<td>password</td>
					<td><input type="password" th:field="*{password}"/></td>
				</tr>
				<tr>
					<td>email</td>
					<td><input type="email" th:field="*{email}"/></td>
				</tr>
				<tr>
					<td>role</td>
					<td><input type="text" th:field="*{role}"/></td>
				</tr>
				<tr>
					<td colspan="3"><button type="submit">Submit</button></td>
				</tr>
			</table>
	</form>
</div>

</body>
</html>