<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
	href="/SpringMVCProject-2/src/main/resources/static/css/style.css">
	<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
<title>Recipe Drawer-Edit Recipe</title>
</head>
<body class="red lighten-2">
	<div class="section" align="center">
		<h1>Edit Recipe</h1>
		<div class="container z-depth-1 grey lighten-3 row"
			style="display: inline-block; padding: 30px 30px 30px 30px; border: 1px solid #EEE;">
			
			<div class="back-button" align="left">
				<a th:href="@{/profile}" class="button">back</a>
			</div>
			
			<form action="#" th:action="@{/save_recipe}"
				th:object="${edit_recipe}" method="post">
				<table>
					<tr>
						<td>Recipe Id</td>
						<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>User Id</td>
						<td><input type="text" th:field="*{user.id}"
							readonly="readonly" /></td>
					</tr>
					<tr>
						<td>name</td>
						<td><input type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td>description</td>
						<td><input type="text" th:field="*{description}" /></td>
					</tr>
					<tr>
						<td>ingredients</td>
						<td><input type="text" th:field="*{ingredients}" /></td>
					</tr>
					<tr>
						<td>direction</td>
						<td><input type="text" th:field="*{direction}" /></td>
					</tr>
					<tr>
						<td>picture</td>
						<td><input type="file" th:field="*{picture}" /></td>
					</tr>
					<tr>
						<td colspan="3" align="right"><button type="submit">Submit</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>